/* Button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #e55200;
}

/* Typography */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    font-size: 1.1rem;
}

/* Section spacing */
.section {
    padding: 50px 0;
}

/* Reset some default styles */
body, h1, h2, h3, p, ul, li, table, svg {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

/* Style for the body diagram container */
.body-diagram {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style for the SVG content */
svg {
    width: 80%; /* Adjust the size as needed */
    height: auto;
    max-width: 800px; /* Max width to maintain proportions */
    fill: #3498db; /* Color for muscles (you can customize) */
}


/* Responsive styles */
@media (max-width: 768px) {
    .button {
        padding: 8px 16px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    p {
        font-size: 1rem;
    }

    .section {
        padding: 30px 0;
    }
}
